#change_owner{
	display:block;
	background:url(../../../../templates/default/images/edit.png) 50% 1px no-repeat;
	width:20px;
	height:20px;
	text-indent:-5000px;
	margin-left:.3em;
	float:right;
	vertical-align:bottom;
}

/*#owners_list{
	position:absolute;
	background-color:white;
}*/

#btn_plugins_auto {
    padding-top:30px!important;
    padding-left: 0!important;
    display: block;
    background-position: 50% 5px, 50% 50%!important;
    background-repeat: no-repeat, repeat!important;
}
#btn_plugins_auto {
    background-image:url(images/car-small.png), url("../../../../templates/default/jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btn_plugins_auto.ui-state-hover {
    background-image: url(images/car-small.png), url("../../../../templates/default/jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}
