{% extends 'page.html.twig' %}

{% block content %}
    <form class="ui form" action="{% if mode == "new" %}{{ url_for("doModelAdd") }}{% else %}{{ url_for("doModelEdit", {"id": model.id}) }}{% endif %}" method="post" id="modifform">
        <div class="ui styled fluid accordion field">
            <div class="active title">
                <i class="icon dropdown"></i>
                {{ page_title }}
            </div>
            <div class="active content">
                {% include "components/forms/text.html.twig" with {
                    id: 'model',
                    value: model.model,
                    label: _T("Model", "auto"),
                    required: true,
                    autofocus: true
                } %}

                {% set brand_list_values = {(-1): _T("Choose a brand", "auto")} %}
                {% for brand in brands %}
                    {% set brand_list_values = brand_list_values + {(brand.id_brand): brand.brand} %}
                {% endfor %}

                {% if brands|length > 0 %}
                    {% include "components/forms/select.html.twig" with {
                        id: 'brand',
                        value: model.brand,
                        values: brand_list_values,
                        label: _T("Brand", "auto"),
                        required: true
                    } %}
                {% else %}
                    {{ _T("No brand is registered yet. You have to create at least one brand to register models.", "auto") }}.<br/>
                    <a href="{{ url_for("propertyEdit", {"property": "brand", "action": "add"}) }}">{{ _T("Add a brand", "auto") }}</a>
                {% endif %}

            </div>
        </div>

        <div class="ui basic center aligned fitted segment">
            <button type="submit" name="valid" class="action ui labeled icon primary button">
                <i class="save icon"></i> {{ _T("Save") }}
            </button>
            <input type="hidden" name="{{ mode }}" value="1"/>
            {% if mode != "new" %}
                <input type="hidden" name="{{ constant('GaletteAuto\\Model::PK') }}" value="{{ model.id }}"/>
            {% endif %}
            {% include "components/forms/csrf.html.twig" %}
        </div>
    </form>
{% endblock %}
