{% extends 'elements/list.html.twig' %}

{% set nb = count_models %}

{% block infoline %}
    {% set infoline = {
        'label': _Tn("%count model", "%count models", count_models, "auto")|replace({"%count": count_models}),
        'route': {
            'name': 'modelsFilter'
        }
    } %}
    {{ parent() }}
{% endblock %}

{% block infoline_actions %}
    <a
        class="ui tiny labeled icon button"
        href="{{ url_for("modelAdd") }}"
    >
        <i class="plus circle green icon" aria-hidden="true"></i>
        {{ _T("Add new model", "auto") }}
    </a>
{% endblock %}

{% block header %}
    {% set columns = [
        {'label': _T("Model", "auto")},
        {'label': _T("Brand", "auto")}
    ] %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for m in models %}
        {% set edit_link = url_for("modelEdit", {"id": m.id}) %}
    <tr class="{{ loop.index is odd ? 'odd' : 'even' }}">
        <td data-col-label="{{ _T("Model", "auto") }}"><a href="{{ edit_link }}">{{ m.model }}</a></td>
        <td data-col-label="{{ _T("Brand", "auto") }}"><a href="{{ edit_link }}">{{ m.obrand.value }}</a></td>
        <td class="center actions_row nowrap">
            <a href="{{ edit_link }}" class="tooltip action">
                <i class="ui edit icon"></i>
                <span class="visually-hidden">{{ _T("Edit %property", "auto")|replace({"%property": m.obrand.value ~ ' ' ~ m.model}) }}</span>
            </a>
            <a
                class="delete tooltip"
                href="{{ url_for("removeModel", {"id": m.id}) }}"
            >
                <i class="ui red trash icon"></i>
                <span class="visually-hidden">{{ _T("%property: remove from database", "auto")|replace({"%property": m.obrand.value ~ ' ' ~ m.model}) }}</span>
            </a>
        </td>
    </tr>
    {% else %}
        <tr><td colspan="4" class="emptylist">{{ _T("no record found", "auto") }}</td></tr>
    {% endfor %}
{% endblock %}
